.jobInformationContainer {
  top: 10px;
  display: none;
  padding: 10px 5px;
  position: sticky;
  flex-grow: 1;
  min-width: 0;
}

@media screen and (min-width: 1010px) {
  .jobInformationContainer {
      display: block;
  }
}