.jobListingCardTitle {
  /* overflow: hidden; */
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  /* white-space: nowrap; */
  margin-bottom: 0px;
  /* text-overflow: ellipsis; */
}