.jobListingCardDetailsContainer {
  /* just added need to test */
  box-sizing: border-box;
  width: 100%;
  margin-bottom: auto;
}

@media screen and (min-width: 440px) {
  .jobListingCardDetailsContainer {
    padding-left: 55px;
  }
}